*{
    margin: 0;
    padding: 0;
}
header{
    background-color: green;
    height: 100px;
}
nav{
    background-color: yellow;
    height: 50px;
}
footer{
    background-color: violet;
    height: 70px;
}
.cajapadre{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    }
div{
 background-color: blueviolet;
}
.titulo1{
   width: 50%;
   height: 400px;  
}
.titulo2{
    width: 50%;
    height: 400px;
}